.loginContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    padding: 1%;
    overflow-y: scroll;
}

.loginLogoHolder {
    width: fit-content;
    margin: auto;
    height: fit-content;
    min-height: 125px;
    padding: 1.5%;
}

.loginMomentLogo {
    width: 40vw;
    height: auto;
    min-width: 275px;
}

.loginSlogan {
    font-size: var(--subheading-font-size);
    font-weight: bold;
    width: fit-content;
    margin-top: 5px;
    min-width: 265px;
}

.inputSection {
    height: fit-content;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    border-radius: 5px;
    border: 2px solid var(--subheading-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    margin: auto;
    padding: 2.5% 0;
}

.loginInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 11%;
    margin: 5% auto;
    border-radius: 3px;
    border: 1px solid var(--subheading-color);
    padding: 1%;
    font-size: 1.2rem;
}

.errMsgHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 85%;
    height: 5px;
    margin: auto;
    color: red;
    font-weight: bold;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input:focus,
.inputBox input:valid {
    outline: var(--button-color) solid 1.5px;
    border: none;
}

.inputBox span {
    position: absolute;
    z-index: 10;
    margin-top: -11%;
    margin-left: 10%;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    transition: 0.1s ease-in;
    color: var(--button-color);
    transform: translateY(-135%);
    font-size: 0.75rem;
    padding: 0.5%;
    /* background-color: var(--background-color); */
}

.loginAttemptBtn {
    display: flex;
    width: 85%;
    margin: 4% auto;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    align-items: center;
}

.externalLogin {
    width: fit-content;
    margin: 2% auto;
}

.fa-github {
    margin-right: 7%;
}
.fa-google {
    margin-right: 7%;
}
.externalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    border: none;
    width: 20%;
    height: 5%;
    margin: 2%;
    color: white;
    padding: 1.75%;
}

.loginIcons {
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.loginGithub {
    background-color: #1f1f1f;
}

.loginGoogle {
    background-color: #cc0000;
}

button:hover {
    cursor: pointer;
}

.loginRegisterOption {
    width: 85%;
    border-top: 1px solid var(--subheading-color);
    margin: auto;
}

.loginRegisterText {
    width: fit-content;
    margin: 2% auto;
}

.loginRegisterButton {
    width: 50%;
}

@media all and (max-width: 480px) {
    .loginLogoHolder {
        width: fit-content;
    }

    .loginInput{
        margin: 6% auto;
    }

    .inputBox span {
        margin-top: -13%;
    }

    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span {
        transform: translateY(-125%);
    }
}

@media all and (max-width: 817px) {
    .inputSection {
        margin-top: 0;
    }
}
