.menuContainer {
    display: flex;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100px; /* Full height */
    z-index: 1;
    justify-content: center;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: end;
    max-width: 875px;
    height: 100px;
    margin-right: 10px;
}
.menuDropdown {
    position: absolute;
    background-color: var(--background-color);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menuDropdown div:hover,
.logoutBtn:hover {
    background-color: var(--secondary-background-color);
}

.menuDropdown a {
    color: var(--heading-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu .logoutBtn {
    box-sizing: border-box;
    min-width: 160px;
    width: 100%;
    color: var(--heading-color);
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 0 0 10px 10px;
}
