.profileCard{
    height: calc(100vh - 60px);
    width: 100%;
    margin: auto;
    padding-top: 60px;
}

.profileSection{
    display: flex;
    height: fit-content;
    width: 75%;
    min-width: 500px;
    margin: auto;
}

.profileAvatarImg{
    border: none;
    height: 110%;
    width: 110%;
}

.profileAvatar{
    margin: 5%;
    margin-top: 0;
    height: 200px;
    width: 200px;
}

.profileDetails{
    width: 85%;
    height: 100%;
    min-height: 206px;
    
    padding: 3%;
    padding-left: 0;
}

.profileDetailText {
    width: fit-content;
    margin: auto;
}

.profileDetailBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    min-width: 80px;
    height: 25%;
    min-height: 25px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 2vh auto;
    margin-top: min(2vh, 25px);
    margin-bottom: min(2vh, 25px);
}

.profileStats{
    display: flex;
    width: 80%;
    height: 30%;
    /* background-color: aqua; */
    margin: 5vh auto;
    margin-top: min(5vh, 20px);
}

.profileStats_1{
    display: none;
}

.stats{
    width: 30%;
    margin: auto;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-weight: bold;
}

.popUp{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    top:0;
}

.followStatsPopUp{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    /* transform: translate(-65%, -55%); */
    transition: 150ms ease-in;
    margin: 7.5vh auto;
    height: 90%;
    min-height: 325px;
    max-height: 390px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color)
}

.followStatsPopUpHeading{
    display: flex;
    height: 12%;
    width: 100%;
    border-bottom: 2px solid var(--subheading-color);
    margin: auto;
}

.followStatsPopUpTitle{
    width: fit-content;
    margin: auto;
}

.followStatsPopUpCross{
    font-weight: bold;
    float: right;
    margin-right: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}

.followStatsPopUpUserSection {
    background-color: red;
}

.followStatUser{
    display: flex;
}

.followStatAvatarImg{
    width: 50px;
    height: 50px;
    background-color: blue;
}

.followStatAvatar {
    height: 100%;
    width: 100%;
}

.followStatUsername{
    width: fit-content;
}

@media all and (max-width: 780px) {
    .profileSection{
        min-width: 0;
        width: 100%;
    }

    .profileStats{
        display: none;
    }

    .profileStats_1{
        margin-top: 2vh;
        display: flex;
    }

    .profileDetails{
        display: flex;
        justify-content: center;

    }
    .profileDetailContainer{
        margin: auto;
    }

}

@media all and (max-width: 480px) {
    .profileCard{
        padding-top: 3%;
    }
    
    .profileAvatar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .profileAvatarImg{
        height: 110px;
    }
    .profileFullName{
        font-size: var(--tertiary-font-size);
    }
    .profileSection{
        height: 30%;
        min-height: 175px;
        margin-bottom: 1vh;
    }

    .profileDetails{
        height: 100%;
    }

    .FollowStatsPopUp{
        max-height: none;
        min-height: 0px;
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .followStatsPopUpCross{
        height: fit-content;
        margin-top: 2%;
    }
}