.footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: var(--mobile-nav-height);
    border-top: 1px solid var(--border-color);
}
.footer {
    max-width: 400px;
    height: var(--mobile-nav-height);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
@media only screen and (min-width: 400px) {
    .footerContainer {
        display: none;
    }
}
