.homePage {
    display: flex;
    overflow-y: scroll;
    margin: auto;
    width: 70vw;
    flex-direction: column;
    background-color: var( --background-color);
}

.homePageStory {
    height: 14vh;
    width: 45vw;
    border-style: solid;
    border-color: black;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    
}

.homePagePostArea {
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: blue;
}

.homePageProfile {
    width: 35vw;
    height: 50vh;
    border-style: solid;
    border-color: red;
}

.homePageContainer {
    display: flex;
}

.Avatar2 {
    height: 65px;
    width: 65px;
}

.AvatarUserProfile {
    height: 65px;
    width: 65px;
}


@media only screen and (max-width: 600px) {
    .homePage {
        margin:0%;
        width: 100vw;
        border-style: solid;
        border-color: green;
      
        overflow-y:scroll;
    }

    .homePageProfile {
        display: none;
    }

    .homePageStory {
        width: 100vw;
    }
    .homePagePostArea {
        overflow-y:unset;
    }

    .AvatarUsers {
        height: 45px;
        width: 45px;
    }
    .AvatarUserProfile {
  height: 45px;
        width: 45px;
    }
}
