.EventBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 410px;
    background-color: var(--background-color);
    padding: 1%;
    text-align: center;
    border: 1px solid var(--terheading-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.EventBody img {
    object-fit: fill;
    height: inherit;
}

.EventBody div {
    display: flex;
}

.EventBody:hover {
    box-shadow: 0 8px 16px 0 rgba(203, 201, 201, 0.2);
}

.EventHeader {
    display: flex;
    height: 8%;
    justify-content: space-between;
    border: 1px solid var(--terheading-color);
}

.EventHeader P {
    margin: auto;
    margin-left: 0.2vw;
}



.EventContent {
    display: block;
    text-align: center;
    height: 200px;
    background-color: var(--background-color);
    padding: 1%;
    border: 1px solid var(--terheading-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.EventContent button {
    color: white;
    background-color: black;
    border-radius: 4px;
}

.EventCommentInput{
    padding: 1%;
}

.EventContent > * {
    padding: 3px;

}

.EventContentIcons {
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.EventContent p {
    align-items: baseline;
    justify-content: left;
}

.EventContentIconsLeft {
    display: flex;
}

.EventContentIconsLeft .iconContainer {
    margin-right: 1vw;
}

.EventContentLikes {
    font-size: var(--tertiary-font-size);
}

.EventContentText {
    display: flex;
    padding-top: 4px;
    text-align: unset;
    font-weight: unset;

}

.EventContentVBtn {
    opacity: 0.6;
    padding-bottom: 4px;
    cursor: pointer;
}

.EventContentVBtn a {
    all: unset;
}

.EventContentIconsfooter {
    display: flex;
    font-size: var(--post-font-size);
}

.EventContentIconsfooter p {
    opacity: 0.5;
}

.EventContentIconsfooter .iconContainer {
    justify-content: left;
    margin-right: 0.61vw;
}
.EventContentIconsfooter .CommentsChatIcons input {
width: 300px;
border-top-style: hidden;
border-bottom-style: hidden;
}

.EventAvatarUsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    cursor: pointer;
    position: relative;
}

.EventAvatarUsers img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--terheading-color);
}

.EventContainer {
    border: 1px solid var(--terheading-color);
    margin: auto;
    width: 400px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .PostContainer {
        width: 98vw;
    }

    .PostContentIconsfooter .CommentsChatIcons input {
        width: 250px;
        }

    .PostContentIconsLeft .iconContainer {
        margin-right: 3vw;
    }
}

@media only screen and (max-width: 320px) {
    .PostContentIconsfooter .CommentsChatIcons input {
        width: 200px;
        }
    .PostContainer {
        width: 320px;
    }
}
