.btn {
    all: unset;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:focus {
    opacity: 0.8;
}
.sendMessageBtn {
    font-size: var(--subheading-font-size);
    background-color: var(--button-color);
    color: var(--background-color);
}
