:root {
    font-family: 'Libre Franklin', sans-serif;
    --heding-font-size: 1.6rem;
    --subheading-font-size: 1.5rem;
    --body-font-size: 1.6rem;
    --input-font-size: 1.6rem;
    --tertiary-font-size: 0.8rem;
    --heading-color: #2b2c34;
    --subheading-color: #2b2c3480;
    --terheading-color: #2b2c3420;
    --background-color: #fffffe;
    --border-color: #2b2c34;
    --button-color: #0095f6;
    --notif-color: #e45858;
    --content-color: #2b2c34;
    --desktop-nav-height: 50px;
    --mobile-nav-height: 44px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}
