:root {
    font-family: 'Libre Franklin', sans-serif;
    --heading-font-size: 1.2rem;
    --subheading-font-size: 1rem;
    --body-font-size: 1.6rem;
    --input-font-size: 1.6rem;
    --post-font-size: 1rem;
    --tertiary-font-size: 0.9rem;
    --heading-color: #2b2c34;
    --subheading-color: #2b2c3460;
    --terheading-color: #2b2c3420;
    --background-color: #fffffe;
    --secondary-background-color: #fafafa;
    --tertiary-background-color: #ffffff;
    --border-color: #2b2c34;
    --button-color: #0095f6;
    --notif-color: #e45858;
    --content-color: #2b2c34;
    --desktop-nav-height: 60px;
    --mobile-nav-height: 55px;
    --sub-nav-height: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
