.pageName {
    font-size: var(--heading-font-size);
    color: var(--heading-color);
    margin: 0px 40px 5px 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--terheading-color);
    width: 100%;
    max-width: 300px;
}
.notificationsContainer {
    width: 100%;
    height: 100%;
    max-width: 850px;
    margin: auto;
}
.notificationsHeader {
    width: 100%;
    height: var(--sub-nav-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.notificationsHeader a {
    text-decoration: none;
}
.notificationHeader {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--heading-color);
}
.notifActive {
    background-color: var(--background-color);
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--terheading-color);
    border-bottom: none;
    height: 22px;
}
.notificationContentContainer {
    width: 100%;
    height: calc(100% - 53px);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--terheading-color);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    overflow-y: scroll;
}
.noNotifications {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--heading-font-size);
    color: var(--subheading-color);
}
.bellIcon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--subheading-color);
    fill: var(--subheading-color);
    margin-bottom: 20px;
}
.notificationsHeader .notif {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--notif-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
