.inputText {
    pointer-events: none;
    background-color: #ffffff00;
}

.authAvatarBtn {
    /* all: unset; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 10%;
    width: 10%;
    background-color: var(--button-color);
    border: none;
    color: white;
    position: relative;
    margin-bottom: 18%;
    margin-left: 75%;
    border-radius: 50%;
}

.authAvatar {
    display: flex;
    margin: auto;
    height: 10vmax;
    min-height: 125px;
    width: 10vmax;
    min-width: 125px;
    background-image: url('http://localhost:5070/images/profile/default-user.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0.85;
    cursor: pointer;
}

.authDate {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    z-index: 1;
}

.regDob{
    font-weight: lighter;
    font-size: 75%;
}

select::-webkit-scrollbar {
    width: 10px;
}
select::-webkit-scrollbar-thumb {
    background-color: var(--subheading-color);
    border-radius: 5px;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-color);
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-color);
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-color);
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        background-color: var(--button-color);
    }
    50%,
    100% {
        background-color: #bcd0ff;
    }
}
