.inputText{
    pointer-events: none;
}

.authAvatarBtn{
    margin: auto;
    height: 10%;
    width: 10%;
    background-color: var(--button-color);
    border: none;
    color: white;
    margin-bottom: 0;
}

.authAvatar{
    display: flex;
    margin: auto;
    height: 10vmax;
    min-height: 125px;
    width: 10vmax;
    min-width: 125px;
    background-color: var(--background-color);
    background-image: url('./assets/user-circle-thin-svgrepo-com.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.authDate{
    display: flex;
    width: 85%;
    margin: auto;
}

.authDate > * {
    margin: auto;
    width: 30%;
}

select::-webkit-scrollbar{
    width: 10px;
}
select::-webkit-scrollbar-thumb{
    background-color: var(--subheading-color);
    border-radius: 5px;
}

