.chatContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.chatBox {
    background-color: var(--background-color);
    border: 1px solid var(--terheading-color);
    height: 100%;
    max-width: 700px;
    display: flex;
    width: 100%;
}
.chatContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid var(--terheading-color);
}
.chatContainerHeader > :nth-child(1) {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.userName {
    cursor: pointer;
}
.chatContainerHeader :nth-child(2) {
    cursor: pointer;
}
.chatUsersContainer {
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-right: 1px solid var(--terheading-color);
}
.chatUsers {
    height: calc(100% - 44px);
    overflow-y: scroll;
}
.sendMessageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendIcon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    border: 3px solid var(--border-color);
}
.sendMessageBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sendMessageBoxContainer :nth-child(3) {
    font-size: var(--tertiary-font-size);
    color: var(--sedheading-color);
    margin: 5px 0;
}
.sendMessageBoxContainer button {
    all: unset;
    cursor: pointer;
    font-size: var(--tertiary-font-size);
    background-color: var(--button-color);
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 5px;
}
