.mobile {
    width: 100%;
    max-height: calc(100vh - var(--mobile-nav-height) * 2);
    height: 100%;
    padding-top: 0;
    margin: var(--mobile-nav-height) 0;
}
.desktop {
    width: 100%;
    max-height: calc(100vh - var(--desktop-nav-height));
    background-color: var(--secondary-background-color);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: var(--mobile-nav-height) 0;
}
@media only screen and (min-width: 601px) {
    .desktop {
        padding: 20px;
    }
    .mobile {
        padding-top: 20px;
    }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
