table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: var( --border-color);
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th  {
    background-color: var(--subheading-color);
  }

  tbody :hover {
    cursor: pointer;
    background-color: #e8e8e8;
  }